[Unit]
Description=Jupyter Notebook
AssertPathExists=/home/rov/.virtualenvs/flir

[Service]
Type=simple
User=rov
Group=rov
PIDFile=/run/jupyter.pid
ExecStart=/bin/bash /home/rov/git/FLIR_pubsub/scripts/start-jupyter-server.sh
WorkingDirectory=/home/rov/
Restart=always
RestartSec=10

[Install]
WantedBy=default.target