[Unit]
Description=FLIR-camera server service
AssertPathExists=/home/rov/.virtualenvs/flir

[Service]
Type=simple
ExecStart=/bin/bash /home/rov/git/FLIR_pubsub/run/start-flir-server-service.sh
WorkingDirectory=/home/rov/
Restart=always
RestartSec=10

[Install]
WantedBy=default.target